*.tar.gz
*.tar.bz2
*.ok
zlib-?.?.?/
gemlib-master/
SDL-1.2-main/
mintlib-dlmalloc/
libxmp-?.?.?/
libxmp-lite-?.?.?/
ldg-trunk/
physfs-m68k-atari-mint/
cflib-master/
libpng-?.?.??/
SDL_image-SDL-1.2/
usound.h
libcmini-master/
SDL_mixer-1.2-SDL-1.2/
asap-?.?.?/
mpg123-?.??.?/
uthread-main/
