*.tar.gz
*.tar.bz2
*.ok
zlib-1.?.?/
gemlib-master/
SDL-1.2-main/
mintlib-dlmalloc/
libxmp-lite-4.?.?/
ldg-trunk/
physfs-m68k-atari-mint/
cflib-master/
libpng-1.?.??/
SDL_image-SDL-1.2/
usound.h
libcmini-master/
SDL_mixer-1.2-SDL-1.2/
asap-?.?.?/
mpg123-?.??.?/
